* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container{
	width:100%;
	display: grid;
	grid-template-rows: 25px auto 25px;
	min-height: 100vh;
}

header {
	display: flex;
	grid-column: 1 / -1;
	align-items: center;
	justify-content: flex-start;
	background-color: lightgray;
}

main{
	padding: 1rem;
	background-color: lightgreen;
}

.about-me {
	display: flex;
	justify-content: space-around;
	max-width: 600px;
	width: auto;
	background-color: lightblue;
}

.my-photo {
    padding: 17px;
    background-color: red;
}

.cards {
    display: flex;
    margin: 11px;
    padding: 19px;
    background-color: yellow;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
    background-color: lightblue;
}

#project-image {
    align-items: center;
    

}

footer {
	display: flex;
	grid-column: 1 / -1;	
	align-items: center;
	justify-content: center;
	background-color: lightgray;
}

