* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container{
	width:100%;
	display: grid;
	grid-template-rows: 25px auto 25px;
	min-height: 100vh;
}

header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: lightgray;
}

main{
	padding: 17px;

}

.about-me {
	display: flex;
	justify-content: space-around;
	max-width: 600px;
	width: auto;
}

.cards {
    display: flex;
    margin: 11px;
    padding: 19px;

}

.card{
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    padding: 5px;

}

#project-image {
    align-self: center;
    margin-top: auto;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightgray;
}

