h1 {
	display: flex;
	justify-content: center;
	margin-top: 1.75rem;
	margin-bottom: 1rem;
}

.certs h2 {
	display: flex;
	justify-content: center;
	margin-top: .75rem;
}

/* Cards */
.card {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-bottom: .5rem;
	border-radius: 5px;
	border: 1px solid black;
}

.card h3 {
	margin-top: .25rem;
	margin-bottom: .25rem;
}

.card p {
	margin-bottom: .25rem;
}

a {
	text-decoration: none;
}

.edu-image {
	display: flex;
	align-items: center;
	padding: 1.50rem;
}

.top {
	display: none;
}

/*Vertical View*/
@media screen and (max-height: 900px) and (min-height: 346px) {
	.navbar {
		background: gray;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	.navbar .navlinks {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	h1 {
		font-size: 2.25rem;
	}

	h2 {
		padding-bottom: 1rem;
	}

	.certs .card {
		display: flex;
		flex-direction: column;
		width: 25rem;
	}

	.certs a {
		display: flex;
		justify-content: center;
		text-decoration: none;
		margin-bottom: 1rem;
	}

	.certs p {
		margin: .5rem;
	}

	.top {
		display: block;
	}

	.modal-content {
		width: 100%;
		height: auto;
	}

	footer {
		position: relative;
	}
}


/*Horizontal View*/
@media screen and (max-width: 977px) and (min-width: 346px) {
	.navbar {
		background: gray;
		margin-left: auto;
		margin-right: auto;
	}

	.navbar .navlinks {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

    h1 {
    	font-size: 2.25rem;
    }

    h2 {
    	padding-bottom: 1rem;
    }

    .certs .card {
    	display: flex;
    	flex-direction: column;
    	width: 25rem;
    }

    .certs a {
    	display: flex;
    	justify-content: center;
    	text-decoration: none;
    	margin-bottom: 1rem;
    }

    .certs p {
    	margin: .5rem;
    }

    .top {
    	display: block;
    }

     .modal-content {
        width: 100%;
    }

	footer {
		position: relative;
		align-items: center;
		height: 1.5rem;
		font-size: 1.25rem;
	}
}