.container-2 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

/*Navigation Bar*/
.navbar {
    display: flex;
    justify-content: center;
    background: #616161;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar .navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar .navsoc {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-img-layout {
    margin: .25rem;
}

.navbar section li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navbar .navlinks a {
    color: white;
    padding: .5rem 1.5rem;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
}

.navbar .navlinks li:hover {
    background-color: darkgray;
    color: black;
}

.navbar .navsoc a {
    color: white;
    margin: .5rem .5rem;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
}

/*Main Screen*/
.main {
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

.my-photo {
	align-self: center;
	height: 450px;
	width: 450px;
}

h2 {
	align-self: center;
	margin-top: 1rem;
}

h3 {
	align-self: center;
	margin-bottom: 1.25rem;
}

p {
	margin-bottom: .5rem;
}

.main .atop {
	align-self: center;
	margin-top: 5rem;
	display: none;
}

footer {
	display: flex;
	justify-content: center;
	background-color: gray;
	border-top: .05rem solid black;
	height: 2%;
	width: 100%;
	bottom: 0;
	position: fixed;
}

/* 4k Monitor View lol */
@media screen and (max-height: 3840px) and (min-height: 900px) {
    p {
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: .5rem;
        }
}

@media screen and (max-width: 2160px) and (min-width: 900px) {
    p {
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: .5rem;
        }
}

/*Vertical View*/
@media screen and (max-height: 900px) and (min-height: 346px) {
    .navbar {
        background: gray;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .navbar .navlinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

	.main {
		padding: 0;
		width: 100%;
	}

	.my-photo {
		padding-top: 1rem;
		width: 100%;
	}

	p {
		padding-top: .75rem;
	}

	.main .atop {
		display: block;
		margin-bottom: 2rem;
	}

	footer {
		position: relative;
	}
}

/*Horizontal View*/
@media screen and (max-width: 900px) and (min-width: 346px) {
    .navbar {
        background: gray;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .navbar .navlinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

	.main {
		padding: 0;
		width: 100%;
	}

	.my-photo {
		padding-top: 1rem;
	}

	p {
		padding-top: .75rem;
	}

	.main .atop {
		display: block;
		margin-bottom: 2rem;
	}

	footer {
		position: relative;
		align-items: center;
		height: 1.5rem;
		font-size: 1.25rem;
	}
}