/*Navigation Bar*/
.nav-common {
    display: flex;
    justify-content: center;
    background: #616161;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.nav-common ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-common .navlinks-common {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-common .nav-layout-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-img-layout {
    margin: .25rem;
}

.nav-common section li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nav-common .navlinks-common a {
    color: white;
    padding: .5rem 1.5rem;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
}

.nav-common .navlinks-common li:hover {
    background-color: darkgray;
    color: black;
}

.nav-common .nav-layout-img a {
    color: white;
    margin: .5rem .5rem;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
}

/*Title*/
h1 {
	display: flex;
	justify-content: center;
    margin-top: 2rem;
	margin-bottom: .5rem;
}

/*Github Calendar Stats*/
.calendar {
    width: 53rem;
    margin-bottom: 4rem;
	background: #F5F5F5;
	border-radius: 5px;
	border: 1px solid black;
}

/*Subtitle*/
h2 {
	display: flex;
	justify-content: center;
    text-align: center;
}

#h2p {
    display: flex;
    justify-content: center;
    margin: .5rem;
}

/*Cards*/
.cards {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22.5rem, .5fr));
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-bottom: 1rem;
}

.card {
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
	margin: .5rem; 
    padding: .5rem;
	border-radius: .5rem;
	border: 0.125rem solid black;
    background: lightgrey;
}

.card h3 {
    margin-bottom: .5rem;
}

.card p {
    padding: auto;
}

#project-image {
	padding: auto;
	margin-top: .75rem;
    margin-bottom: auto;
	display: flex;
	align-items: center;
}

.skills {
    margin-top: .75rem;
    margin-right: auto;
    margin-bottom: .1rem;
}

.tools {
    margin-right: auto;
    margin-bottom: .5rem;
}

.top {
    display: none;
}

/*Start of Image Modal*/
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 900px;
   	max-height: 400px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
} 

/*Vertical View*/
@media screen and (max-height: 900px) and (min-height: 346px) {
    .nav-common {
        display: flex;
        justify-content: center;
        background: gray;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .nav-common .navlinks-common {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    h1 {
        padding-top: 2rem;
        padding-bottom: 1rem;
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    #h2p {
        font-size: 2rem;
    }

    .cards a { 
        text-decoration: none;
    }

    .cards .card {
        width: 170%;
        margin-bottom: 2.5rem;
        padding: .5rem;
    }

    .card h3 {
        font-size: 2rem;
        margin-top: .5rem;
    }

    .card p {
        font-size: 1.5rem;
    }

    #img01 {
        width: auto;
        height: auto;
    }

    #h2p {
        font-size: 1.75rem;
    }

    .modal-content {
        width: 100%;
        height: auto;
    }

    footer {
        height: 3rem;
        font-size: 2.5rem;
    }
}

/*Horizontal View*/
@media screen and (max-width: 900px) and (min-width: 346px) {
    .nav-common {
        display: flex;
        justify-content: center;
        background: gray;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .nav-common .navlinks-common {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    h1 {
        padding-top: 2rem;
        padding-bottom: 1rem;
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    #h2p {
        font-size: 2rem;
    }

    .cards a { 
        text-decoration: none;
    }

    .cards .card {
        width: 170%;
        margin-bottom: 2.5rem;
        padding: .5rem;
    }

    .card h3 {
        font-size: 2rem;
        margin-top: .5rem;
    }

    .card p {
        font-size: 1.5rem;
    }

    #img01 {
        width: auto;
        height: auto;
    }

    .cards .card .top {
        display: block;
    }

    #h2p {
        font-size: 1rem;
    }
     
     .modal-content {
        width: 100%;
    }

    footer {
        height: 3rem;
        font-size: 2.5rem;
}