header  {
	display: flex;
	justify-content: space-around;

}

header img {
	margin-top: .5rem;	
}

header p {
	margin-top: 1rem;
}

h1 {
	display: flex;
	justify-content: center;
	margin: 5rem;
}

.calendar {
	background: #F5F5F5;
	border-radius: 5px;
	border: 1px solid black;
}

.cards {
	display: flex;
}

.card {
	display: flex;
	flex-direction: column;
	flex-basis: 0;
	flex-grow: 1;
	padding: 10px;
	margin: 11px; 
	border-radius: 5px;
	border: 0.125rem solid black;
}

.card p {
	padding: 5px;
	grid-row: center;
}

.project-image {
	padding-top: 1rem;
	margin: auto;
	display: flex;
	align-items: center;
}