h1 {
    display: flex;
    justify-content: center;
    margin-top: 1.75rem;
    margin-bottom: 1rem;
}

/* Digital Resume PDF Download */
.downloadPDF {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.downloadPDF img {
    margin-bottom: 1rem;
}

/* Main Body of Digital PDF */
.digitalResume {
    background: white;
    border-radius: 5px;
    border: 3px solid black;
    margin: 5rem auto;
    width: 75%;
}

/* Name & Info */
.partOne {
    align-items: center;
    margin: 2rem 5%;
    padding-bottom: .5rem;
    border-bottom: 3px dotted #095484;
}

.partOne h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    width: 30%;
}

.partOne a {
    margin: auto 3%;
}

.section2 {
    margin: .5rem 25%;
}

/* Introduction */
.partTwo {
    margin-bottom: 2rem;
    padding-bottom: .5rem;
}

.partTwo h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.partTwo p {
    margin: auto 25%;
}

/* Technical Inventory */
.partThree {
    margin-bottom: 3rem;
}

.partThree h2 {
    margin: 1rem 5%;
    border-bottom: 3px dotted #095484;
}

.partThree article {
    margin: auto 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.grid-item {
    text-align: center;
    margin-top: 1rem;
}


/* Education & Training */
.partFour {
    margin-bottom: 3rem;
}

.partFour h2 {
    margin: 1rem 5%;
    border-bottom: 3px dotted #095484;
}

.partFour article {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 6%;
    margin-right: 5%;
    margin-bottom: .5rem;
}

.partFour img {
    margin-right: 1rem;
}


/* Projects */
.partFive {
    margin-bottom: 3rem;
}

.partFive h2 {
    margin: 1rem 5%;
    border-bottom: 3px dotted #095484;
}

.partFive article {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 6%;
    margin-right: 5%;
    margin-bottom: .5rem;
}

.partFive img {
    margin-right: 1rem;
}

/* Military Experience */
.partSix {
    margin-bottom: 3rem;
}

.partSix h2 {
    margin: 1rem 5%;
    border-bottom: 3px dotted #095484;
}

.partSix article {
    display: flex;
    flex-direction: row;
    margin-left: 6%;
    margin-right: 5%;
    margin-bottom: 1rem;
}

.partSix img {
    margin-right: 1rem;
}

.partSix li {
    margin-left: 1rem;
}


/* Technical Experience */
.partSeven {
    margin-bottom: 3rem;
}

.partSeven h2 {
    margin: 1rem 5%;
    border-bottom: 3px dotted #095484;
}

.partSeven article {
    display: flex;
    flex-direction: row;
    margin: 1rem 5%;
}

.summary {
    margin: .5rem auto;
}

.jp {
    margin-top: .5rem;
}

.partSeven li {
    margin-left: 2rem;
}

.partSeven img {
    margin-right: 3rem;
}


/* Vertical View - 950 to 346 */
@media screen and (max-height: 950px) and (min-height: 346px) {
    .navbar {
        background: gray;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .navbar .navlinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        width: 100%;
        height: auto;
    }

    footer {
        position: relative;
    }
}


/* Horizontal View - 2532 to 2347 */
@media screen and (max-width: 2532px) and (min-width: 2347px) {
    .section2 {
        margin-left: 23%;
        margin-right: 23%;
        margin-bottom: .5rem;
    }
}

/* Horizontal View - 2346 to 2264 */
@media screen and (max-width: 2346px) and (min-width: 2264px) {
    .section2 {
        margin-left: 22%;
        margin-right: 22%;
        margin-bottom: .5rem;
    }
}

/* Horizontal View - 2263 to 1816 */
@media screen and (max-width: 2263px) and (min-width: 1816px) {
    .section2 {
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: .5rem;
    }
}

/* Horizontal View - 2263 to 1766 */
@media screen and (max-width: 1815px) and (min-width: 1766px) {
    .section2 {
        margin-left: 14%;
        margin-right: 14%;
        margin-bottom: .5rem;
    }
}

/* Horizontal View - 1765 to 1719 */
@media screen and (max-width: 1765px) and (min-width: 1719px) {
    .section2 {
        margin-left: auto;
        margin-right: 13%;
        margin-bottom: .5rem;
    }
}

/* Horizontal View - 1718 to 1675 */
@media screen and (max-width: 1718px) and (min-width: 1675px) {
    .section2 {
        margin-left: 8%;
        margin-right: 8%;
        margin-bottom: .5rem;
    }
}

/* Horizontal View - 1674 to 1766 */
@media screen and (max-width: 1674px) and (min-width: 978px) {
    .partOne h2 {
        margin-right: 40%;
    }

    .section2 {
        display: grid;
        grid-template-columns: auto auto auto;
        align-content: center;
        margin-bottom: .5rem;
    }
}

/* Horizontal View - 1310 to 1255 */
@media screen and (max-width: 1310px) and (min-width: 1255px) {
    .partOne h2 {
        margin-right: 40%;
    }

    .section2 {
        display: grid;
        grid-template-columns: auto auto auto;
        align-content: center;
        margin-bottom: .5rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

/* Horizontal View - 1254 to 1069 */
@media screen and (max-width: 1254px) and (min-width: 1069px) {
    .partOne h2 {
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .section2 {
        display: grid;
        grid-template-columns: auto auto auto;
        align-content: center;
        margin-bottom: .5rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

/* Horizontal View - 1068 to 978 */
@media screen and (max-width: 1068px) and (min-width: 978px) {
    .partOne h2 {
        margin: 1rem auto;
        width: auto;
    }

    .section2 {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-items: center;
        margin: 1rem auto;
    }

    /* Technical Inventory */
    .partThree article {
        margin: auto 1rem;
        padding: 1rem 0;
        width: auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        padding: 0 3%;
    }
}

/* Horizontal View - 977 to 576 */
@media screen and (max-width: 978px) and (min-width: 576px) {
    .navbar {
        background: gray;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar .navlinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        width: 100%;
    }

    /* Digital Resume PDF Download */
    .downloadPDF {
        display: flex;
        flex-direction: column;
        margin: auto 5%;
        width: auto;
    }


    /* Introduction */
    .partOne h2 {
        width: auto;
    }

    .section2 {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-items: center;
        margin: 1rem auto;
    }

    .partTwo p {
        margin: auto 8%;
    }

    /* Technical Inventory */
    .partThree article {
        margin: auto 1%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    /* Education & Training */
    .partFour article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 10%;
    }

    .partFour img {
        width: 13rem;
        height: 11rem;
        margin: 2rem auto;
    }

    /* Projects */
    .partFive article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 13%;
        margin-right: 13%;
        margin-bottom: .5rem;
    }

    .partFive img {
        width: 13rem;
        height: 11rem;
        margin-top: 3rem;
    }

    /* Military Experience */
    .partSix article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 10%;
    }

    .partSix img {
        width: 15rem;
        height: 13rem;
        margin: 3rem auto;
    }


    /* Technical Experience */
    .partSeven article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 1rem;
    }

    .partSeven img {
        width: 13rem;
        height: 11rem;
        margin-top: 3rem;
    }

    footer {
        position: relative;
        align-items: center;
        height: 1.5rem;
        font-size: 1.25rem;
    }
}

/* Horizontal View - 576 to 499 */
@media screen and (max-width: 576px) and (min-width: 499px) {
    .navbar {
        background: gray;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar .navlinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        width: 100%;
    }

    /* Digital Resume PDF Download */
    .downloadPDF {
        display: flex;
        flex-direction: column;
        margin: auto 5%;
        width: auto;
    }


    /* Introduction */
    .partOne h2 {
        width: auto;
    }

    .section2 {
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;
        margin: 1rem 5%;
    }

    .partTwo p {
        margin: auto 8%;
    }

    /* Technical Inventory */
    .partThree h2 {
        margin: auto 20%;
    }

    .partThree article {
        margin: auto 1%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    /* Education & Training */
    .partFour h2 {
        margin: auto 16%;
    }

    .partFour article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 10%;
    }

    .partFour img {
        width: 13rem;
        height: 11rem;
        margin: 2rem auto;
    }

    /* Projects */
    .partFive h2 {
        margin: auto 25%;
    }

    .partFive article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 13%;
        margin-right: 13%;
        margin-bottom: .5rem;
    }

    .partFive img {
        width: 13rem;
        height: 11rem;
        margin-top: 3rem;
    }

    /* Military Experience */
    .partSix h2 {
        margin: auto 20%;
    }

    .partSix article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 10%;
    }

    .partSix img {
        width: 15rem;
        height: 13rem;
        margin: 3rem auto;
    }


    /* Technical Experience */
    .partSeven h2 {
        margin: auto 17%;
    }

    .partSeven article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 1rem;
    }

    .partSeven img {
        width: 13rem;
        height: 11rem;
        margin-top: 3rem;
    }

    footer {
        position: relative;
        align-items: center;
        height: 1.5rem;
        font-size: 1.25rem;
    }
}

/* Horizontal View - 500 to 359 */
@media screen and (max-width: 500px) and (min-width: 359px) {
    .navbar {
        background: gray;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar .navlinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        width: 100%;
    }

    /* Digital Resume PDF Download */
    .downloadPDF {
        display: flex;
        flex-direction: column;
        margin: auto 20%;
        width: auto;
    }

    /* Introduction */
    .partOne h2 {
        width: auto;
    }

    .section2 {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        margin: 1rem 15%;
    }

    .partTwo p {
        margin: auto 13%;
    }

    /* Technical Inventory */
    .partThree h2 {
        margin: auto 6%;
    }

    .partThree article {
        margin: auto 1%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 7%;
    }

    /* Education & Training */
    .partFour h2 {
        margin: auto 5%;
    }

    .partFour article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto 5%;
        padding: .5rem 5%;
    }

    .partFour img {
        width: 13rem;
        height: 11rem;
        margin: 2rem auto;
    }

    /* Projects */
    .partFive h2 {
        margin: auto 5%;
    }

    .partFive article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 13%;
        margin-right: 13%;
        margin-bottom: .5rem;
    }

    .partFive img {
        width: 13rem;
        height: 11rem;
        margin-top: 3rem;
    }

    /* Military Experience */
    .partSix h2 {
        margin: auto 5%;
    }

    .partSix article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 10%;
    }

    .partSix img {
        width: 13rem;
        height: 14rem;
        margin: 2rem auto;
    }

    .partSix li {
        margin-left: auto;
    }


    /* Technical Experience */
    .partSeven h2 {
        margin: auto 5%;
    }

    .partSeven article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 1rem;
    }

    .partSeven img {
        width: 12rem;
        height: 11rem;
        margin: 2rem auto;
    }

    .partSeven li {
        margin-left: auto;
    }

    footer {
        position: relative;
        align-items: center;
        height: 1.5rem;
        font-size: 1.25rem;
    }
}
