/*Beginning of index.html*/
header  {
	display: flex;
	justify-content: space-around;
	align-self: : center;
}

header img {
	margin-top: .5rem;	
}

header p {
	margin-top: 1rem;
}

.hp-section-one {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	margin: 1rem;
}

.hp-section-two {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-me-photo {
	display: flex;
}

.about-me-photo button {
	align-self: center;
}

.my-photo {
	padding: .5rem;
	margin: .25rem;
}

.hp-section-three {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	padding: 2rem;
	margin: 1rem;
}

/*Beginning of Modal*/
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: lightblue;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content-about-me {
	display: flex;
	justify-content: flex-start;
	border-radius: 5px;
	border: 1px solid black;
	margin-top: 5px;
	margin-bottom: 5px;
}

.modal-content-about-me h2 {
	display: flex;
	align-items: center;
	justify-content: center;	
}

.modal-content-about-me p {
	padding: 5px;
}

.modal-content-about-me-photo {
	display: flex;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
/*Ending of Modal*/

.hp-section-four {
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-self: center;
	padding: 1rem;
	margin: 1rem;
}

/*Ending of index.html