/*Beginning of index.html*/
header  {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: : center;
	padding: .5rem;
}

.hp-section-one {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	margin: 1rem;
}

.hp-section-two {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-me-photo {
	display: flex;
}

.about-me-photo button {
	align-self: center;
}

.my-photo {
	padding: .5rem;
	margin: .25rem;
}
/*Ending of index.html*/