h1 {
	display: flex;
	justify-content: center;
	margin-top: 1.75rem;
    margin-bottom: 1rem;
}

h2 {
	display: flex;
	justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

/* Cards */
.card {
	display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: .5rem;
    border-radius: 5px;
    border: 1px solid black;
}

.card h3 {
	margin-top: .25rem;
	margin-bottom: .25rem;
}

.card p {
	margin-bottom: .25rem;
    width: 98%;
    padding-bottom: .25rem;
}

.card img {
	display: flex;
    align-items: center;
    padding: 1.50rem
}

.card .top {
    display: none;
    justify-content: center;
    margin: 1rem;
}

/* Vertical View - 950 to 346 */
@media screen and (max-height: 950px) and (min-height: 346px) {
    .navbar {
		background: gray;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	.navbar .navlinks {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        padding-top: 1.5rem;
        padding-bottom: .75rem;
        font-size: 2rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 25rem;
    }

    .card .myImg {
        padding: .5rem;
    }

    h3 {
        text-align: center;
        font-size: 1.5rem;
    }

    p {
        margin: .5rem;
    }

    .card .getstart {
        display: flex;
        justify-content: center;
    }

    .card .top {
        display: block;
        text-align: center;
    }

    .modal-content {
        width: 100%;
        height: auto;
    }

    footer {
        margin-top: 1rem;
        height: 1.5rem;
        font-size: 1.5rem;
    }
}

/* Horizontal View - 977 to 346 */
@media screen and (max-width: 977px) and (min-width: 346px) {
    .navbar {
        background: gray;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar .navlinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        padding-top: 1.5rem;
        padding-bottom: .75rem;
        font-size: 2rem;
    }

    .card {
        display: flex;
        flex-direction: column;
    }

    .card .myImg {
        padding: .5rem;
    }

    h3 {
        text-align: center;
        font-size: 1.5rem;
    }

    p {
        margin: .5rem;
    }

    .card .getstart {
        display: flex;
        justify-content: center;
    }

    .card .top {
        display: block;
        text-align: center;
    }

    .modal-content {
        width: 100%;
    }

    footer {
        margin-top: 1rem;
        height: 2rem;
        font-size: 2rem;
    }
}