header  {
	display: flex;
	justify-content: space-around;
	align-content: center;
}

header img {
	margin-top: .5rem;	
}

header p {
	margin-top: 1rem;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	margin: .5rem;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5rem;
	border-radius: 5px;
	border: 1px solid black;
}

.card h2 {
	
}

.card p {

}

.card img {
	padding: 1.75rem;

}

.tech-image {
	padding: 5px;
}